[submodule "HeyCommunity-backend"]
	path = HeyCommunity-core
	url = https://github.com/HeyCommunity/HeyCommunity-core.git
[submodule "HeyCommunity-wxapp"]
	path = HeyCommunity-wxapp
	url = https://github.com/HeyCommunity/HeyCommunity-wxapp.git
