[submodule "HeyCommunity-backend"]
	path = HeyCommunity-backend
	url = https://github.com/HeyCommunity/HeyCommunity-backend.git
[submodule "HeyCommunity-wxapp"]
	path = HeyCommunity-wxapp
	url = https://github.com/HeyCommunity/HeyCommunity-wxapp.git